# Python virtual environment
venv/
.venv/
test/
.test/
test
.venv_sys
.venv_pi
.venv311

# Byte-compiled files
__pycache__/
*.pyc

# Distribution and build artifacts
dist/
build/
*.egg-info/

# Operating system specific files
.DS_Store
Thumbs.db
